<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body style="font-size:14.0pt;font-family:'Arial Narrow','sans-serif'">

<div th:replace="fragments/header :: header"></div>

    <h1>Estimado: <span th:text="${nombre}"></span></h1>
	<p>Le comunicamos que su solicitud con número  <span th:text="${consecutivo}"></span> acaba de cambiar de estado a  :<span th:text="${estado}"></span> </p>	
    <br/><br/><br/>
    
    
<footer>
        <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>