<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body style="font-size:14.0pt;font-family:'Arial Narrow','sans-serif'">

<div th:replace="fragments/header :: header"></div>
<br/>

<p>Estimado Usuario <span th:text="${nombre}"></span></p>
<br/>
<p style="text-align:justify">Hemos recibido una solicitud para recuperar la contraseña de su cuenta de usuario para el sistema eRPP.</p>

<p><b><strong>Si usted realizo la solicitud</strong></b> continúe el proceso <a th:href="${url}">aquí,</a> la liga será válida solamente por <span th:text="${minutos}"></span> minutos.</p>

<p><b><strong>Si usted no realizo la solicitud</strong></b>, proteja su cuenta.</p>

<p style="text-align:center;font-size:14.6667px;"><i>Te invitamos a conocer y activar el servicio de </i><a href="www.hidalgo.gob.mx"><i>Reporte Registral</i></a>
<i>, mediante el cual podrás recibir notificaciones respecto de inmuebles de tu propiedad o interés.</i></p>


<br/>

<footer>
        <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>